body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f3eb;
    color: #4a3f35;
}

header {
    background-color: #557349;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

nav a {
    color: #4a3f35;
    text-decoration: none;
    margin-left: 1rem;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}

#hero {
    text-align: center;
    padding: 4rem 1rem;
}
